:root {
  --para-font-clr: #rgba(0, 0, 0, 0.5);
  --primary-color: #e95a08;
  --dark-color: #000000;
  --dark-light: #111111;
}

.primary-color {
  color: #e95a08;
}

.dark-color {
  color: #000000;
}

.dark-light-color {
  color: rgba(0, 0, 0, 0.5);
}

.bg-custom {
  background-color: #f5f8ff;
}

.nav-item li:nth-child(n) {
  color: #8987a1;
}

.nav-item li:nth-child(1) {
  color: #252432;
  font-weight: bold;
}

/* latest deal section */
.left-one-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

/* join us section */
.join-us-bg {
  background-color: rgba(7, 51, 79, 0.4);
}

/* image spining */
.img-spin {
  animation: spining 6s linear 0s infinite;
}

@keyframes spining {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
